{% extends 'default.html' %}

{% block title %}
  Profile
{% endblock title %}

{% block content %}
  {% if user.id == request.user.id %}
    <h1>{{ user.username }}</h1>
    <div class="user-detail">
      <p>First name:</p>
      <p>{{ user.first_name }}</p>
      <p>Last name:</p>
      <p>{{ user.last_name }}</p>
      <p>Email:</p>
      <p>{{ user.email }}</p>
      <p>Joined on:</p>
      <p>{{ user.date_joined }}</p>
    </div>

    <button><a href="{% url 'user_edit' user.id %}">Edit profile</a></button>

  {% else %}
    <h1>Permission denied!</h1>
  {% endif %}
{% endblock content %}