{% load static %}
{% load cache %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Newspaper — {% block head_title %}{% endblock head_title %}</title>

  <link rel="stylesheet" href="{% static 'css/generic.css' %}">
  <link rel="stylesheet" href="{% static 'css/allauth.css' %}">

</head>

<body class="body-wrapper">
  
  <h1 class="main-title">Newspaper</h1>

  <hr>

  <main class="main-wrapper">
    {% block content %}
    {% endblock content %}
  </main>

  {% cache 60 footer %}
  <hr>

  <footer class="footer">
    <p class="footer__text">Newspaper project for <a class="footer__text_link" href="https://skillfactory.ru/">Skillfactory.ru</a> &#169; 2021</p>
  </footer>
  {% endcache %}

</body>
</html>
