{% extends 'default.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}
  News
{% endblock title %}

{% block content %}
  <h1 class="news__title">All News ({{ all_news | length }})</h1>

  {% if is_not_author %}
    <button class="news__author-button"><a href="sign/upgrade/">Become an author</a></button>
  {% else %}
    <button class="news__author-button"><a href="{% url 'post_create' %}">Add new post</a></button>
  {% endif %}

  {% for post in news %}
    <article class="news__card">
      <a href="/news/{{ post.id }}" class="news__card_link">
        <h2 class="news__card_title">{{ post.title | censor }}</h2>
        <p class="news__card_text">{{ post.content | truncatewords:20 | censor }}</p>
        <p class="news__card_date">{{ post.posted | date:"l d-m-Y H:i" }}</p>
      </a>
      {% if not is_not_author %}
        <div class="news__card_controls">
          <a href="{% url 'post_edit' post.id %}"><img src="{% static 'img/edit.png' %}" alt="Edit post" width=15 height=15></a>
          <a href="{% url 'post_delete' post.id %}"><img src="{% static 'img/delete.png' %}" alt="Delete post" widht=15 height=15></a>
        </div>
      {% endif %}
    </article>
  {% empty %}
    <h2>No news!</h2>
  {% endfor %}

  {% if is_paginated %}
    <nav>
      <ul class="news__pagination">
        {% if page_obj.has_previous %}
          <li><a href="?page=1">First</a></li>
          <li><a href="?page={{ page_obj.previous_page_number }}"><<<</a></li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="news__pagination_active">{{ num }}</li>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:3 %}
            <li><a href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">>>></a></li>
          <li><a href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
        {% endif %}
      </ul>
    </nav>
  {% endif %}

{% endblock content %}