{% extends 'default.html' %}

{% block title %}
  News
{% endblock title %}

{% block content %}
  <h1 class="post-detail__title">{{ post.title }}</h1>
  <h3 class="post-detail__author">Posted by {{ post.author }} on {{ post.posted | date:"d-m-Y H:i" }}</h3>
  <p class="post-detail__text">{{ post.content }}</p>
  <form method="post">
    {% csrf_token %}
    <p class="post-delete__confirmation-text">Do you really want to delete this post?</p>
    <input type="submit" value="Confirm">
  </form>

{% endblock content %}