{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
  News
{% endblock title %}

{% block content %}
  <h1 class="post-detail__title">{{ post.title | censor }}</h1>
  <h3 class="post-detail__author">Posted by {{ post.author }} on {{ post.posted | date:"d-m-Y H:i" }}</h3>
  <p class="post-detail__text">{{ post.content | censor }}</p>

  <div class="post-detail__categories">
    {% for category in post.category.all %}
      <div class="
        {% if request.user not in category.subscribers.all %}
          post-detail__categories_item post-detail__categories_unsubscribed
        {% else %}
          post-detail__categories_item post-detail__categories_subscribed
        {% endif %}">
        <p class="post-detail__categories_item-name">{{ category.name }}</p>
      
        <div class="post-detail__categories_tooltip">
          <a href="{% url 'subscribe' category.id %}">
            {% if request.user not in category.subscribers.all %}
              Subscribe
            {% else %}
              Unsubscribe
            {% endif %}
          </a>
        </div>

      </div>
    {% endfor %}
  </div>

{% endblock content %}