{% extends 'default.html' %}

{% load custom_filters %}

{% block title %}
  Search
{% endblock title %}

{% block content %}

  <h1>Search</h1>
  <form method="get">
    {% csrf_token %}
    {{ filter.form }}
    <input type="submit" value="Search">
  </form>

  {% if filter.form.author.value or filter.form.title__icontains.value or filter.form.posted__gt.value %}
    {% for post in filter.qs %}
      <article class="news__card">
        <a href="/news/{{ post.id }}" class="news__card_link">
          <h2 class="news__card_title">{{ post.title | censor }}</h2>
          <div class="news__card_text">{{ post.content | truncatewords:20 | censor }}</div>
          <div class="news__card_date">{{ post.posted | date:"l d-m-Y H:i" }}</div>
        </a>
      </article>
    {% endfor %}
  {% endif %}

{% endblock content %}
