{% load static %}
{% load cache %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Newspaper — {% block title %}{% endblock title %}</title>

  <link rel="stylesheet" href="{% static 'css/generic.css' %}">
  <link rel="stylesheet" href="{% static 'css/newspaper.css' %}">

</head>

<body class="body-wrapper">

  {% cache 60 header %}
  <header>
    <nav>
      <ul class="header">
        <li class="header__menu-item">
          <a class="header__menu-item_link" href="/">All News</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-item_link" href="/news/search">Search</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-item_link" href="{% url 'user_detail' request.user.id %}">{{ request.user.username }}</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-item_link" href="/accounts/logout">Logout</a>
        </li>
      </ul>
    </nav>
  </header>

  <hr>
  {% endcache %}

  <main class="main-wrapper">
    {% block content %}
    {% endblock content %}
  </main>

  {% cache 60 footer %}
  <hr>

  <footer class="footer">
    <p class="footer__text">Newspaper project for <a class="footer__text_link" href="https://skillfactory.ru/">Skillfactory.ru</a> &#169; 2021</p>
  </footer>
  {% endcache %}

</body>

</html>
